In [21]:
import pandas as pd
import numpy as np
import pickle as pk
import category_encoders as ce
from sklearn  import preprocessing

import requests
import json

In [6]:
datas = pd.read_csv("./datas/test_feature_engineering.csv")
datas.drop("Unnamed: 0", axis=1, inplace=True)
datas

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,0,1,0,1,108000.0,265536.0,12901.5,180000.0,0.035792,-11576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,1,0,279000.0,787131.0,26145.0,679500.0,0.006233,-18242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,1,1,63000.0,281916.0,13270.5,184500.0,0.020713,-10647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,1,1,112500.0,454500.0,24786.0,454500.0,0.018801,-14107,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,96.0
4,1,1,0,1,202500.0,473760.0,46282.5,450000.0,0.024610,-14849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,0,1,0,0,202500.0,286704.0,22779.0,247500.0,0.030755,-10049,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,20.0
4796,1,0,0,0,99000.0,808650.0,26217.0,675000.0,0.025164,-18754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4797,1,0,1,0,112500.0,450000.0,47254.5,450000.0,0.026392,-10114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4798,0,1,0,0,360000.0,1312110.0,55593.0,1125000.0,0.018850,-13903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4799,1,0,1,0,90000.0,272520.0,17415.0,225000.0,0.007120,-22256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
model = pk.load(open("./model/model.pkl", "rb"))

Modèle non trouvé

In [13]:
predict = model.predict_proba([datas.iloc[3]])
print(predict)

[[0.84131102 0.15868898]]

In [20]:
if predict[:,1] >= 0.4669:
    print ("prediction: Potentiel mauvais payeur")

print("prediction: Potentiel bon payeur")

prediction: Potentiel bon payeur

In [26]:
url = "http://api-oc.certifyed.io/predict"

querystring = {"num_client":10}

response = requests.post(url, params=querystring)

#response_data = response.json()
#response_data

response